



<h2>Login</h2>
<form action="/Home/Login" method="post">
   <b>Username: </b> <input type="text" name="Username" placeholder="Username"> <br /><br/>
   <b>Password: </b> <input type="password" name="Password" placeholder="Password"><br /><br/>
    <input type="submit" value="Login" href="/product/cart/Username">
</form>
